@charset "utf-8";
html{
    background-color: white;
}
a{
    color: #000000;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    text-decoration: none;
    margin: 10px;
    float: left;
}
li:hover{
    border: 1px solid #000000;
}
#Globalmenu{
    position: absolute;
    right: 10%;
}